.project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
}

.search-wrapper {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}

.category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.category-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin: 30px;
    padding: 20px;
    width: 250px;
    height: 80px;
}

.category-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 20px;
}

.category-image {
    width: 40px,
}

.project-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: none;
    color: #000000;

}

.project-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin: 20px;
    padding: 20px;
}

.see-more {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 70px;
    margin-bottom: 30px;
    color: #271cc0;
}

h1 {font-size: 250%}